
.logoNav {
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
}
.logoFooter {
  position: relative;
  width: 85%;
  max-width: 250px;
  height: 85%;
  max-height: 250px;
}
.colorNavbar {
  background-color: #0f1546;
}
.colorToggle{
  background-color: #f394f8  !important
} 
.textLogin{
  color: black !important;

}
.textNavFooter {
  font-weight: 800;
  font-size: 18px !important;
  color: #818de0 !important;
  text-shadow: 2px 2px 4px #818de0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  gap: 1rem;
}
footer section {
  flex: 1 1 250px;
  min-width: 200px;
}
.textListFooter{
  text-decoration: none;
  color: #818de0
}
.tituloNav{
     font-weight: 1000;
  font-size: 25px !important;
  color: #818de0 !important;
  text-shadow: 2px 2px 4px #818de0;
}
/* media pequeños */
@media (max-width: 576px) {
 footer {
    justify-content: center;
  }

  footer section {
    flex: 1 1 45%;
    max-width: 45%;
  }
  .margenT{
    margin-top: 8px;
  }
}
/* media grandes */
@media (min-width: 577px) and (max-width: 1124px) {
 
 footer {
    justify-content: center;
  }

  footer section {
    flex: 1 1 45%;
    max-width: 45%;
 }
  }
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contenedor-card .card {
    border-width: 1px;
    border-style: groove;
    transition: transform 0.3s ease;
    box-shadow: none !important;
    background-color: #0f1546;
}

.titulo-card {
    font-family: "Inter", sans-serif;
}

.card .btn-card {
    border: none;
    width: 85%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px #9d24a3 !important;
    border-width: 1px;
    border-style: groove;
}

.img-card-Categoria {
    max-width: 80px;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.text-white {
    color: white;
}

.desde-izquierda, .desde-arriba, .desde-abajo {
  opacity: 0;
  display: inline-block;
  animation-fill-mode: forwards;
}

.desde-arriba {
  animation: aparecer-arriba 1s ease-out 0.3s forwards;
}

.desde-abajo {
  animation: aparecer-abajo 1s ease-out 1.2s forwards;
}

.desde-izquierda{
    animation: aparecer-izquierda 2.5s ease-out 0.3s forwards;
}

@keyframes aparecer-arriba {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aparecer-abajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer-izquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
  }