@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contenedor-card .card {
    border-width: 1px;
    border-style: groove;
    transition: transform 0.3s ease;
    box-shadow: none !important;
    background-color: #0f1546;
}

.titulo-card {
    font-family: "Inter", sans-serif;
}

.card .btn-card {
    border: none;
    width: 85%;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px #9d24a3 !important;
    border-width: 1px;
    border-style: groove;
}

.img-card-Categoria {
    max-width: 80px;
}

.img-thumbnail {
    max-width: 80px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10%;
}

.text-white {
    color: white;
}

.desde-izquierda, .desde-arriba, .desde-abajo {
  opacity: 0;
  display: inline-block;
  animation-fill-mode: forwards;
}

.desde-arriba {
  animation: aparecer-arriba 1s ease-out 0.3s forwards;
}

.desde-abajo {
  animation: aparecer-abajo 1s ease-out 1.2s forwards;
}

.desde-izquierda{
    animation: aparecer-izquierda 2.5s ease-out 0.3s forwards;
}

@keyframes aparecer-arriba {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aparecer-abajo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes aparecer-izquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}